@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #bfbfbf, #e6e6e6);
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 16vmin;
  color: #e6e6e6;
  letter-spacing: 5px;
  line-height: 1;
  text-shadow: 1px -1px #fff, -1px 1px #999, -10px 10px 5px #80808080;
}
