.main {
  height: 100vh;
  background: #232436;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  content: '';
  position: absolute;
  background: inherit;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
  filter: blur(40px);
}

.card::after {
  content: '';
  position: absolute;
  inset: 40px;
  background: #191c29;
  border-radius: inherit;
}

.card {
  --direc: 0deg;
  height: 600px;
  width: 600px;
  background: linear-gradient(var(--direc),#60DBFF, #0281a7 );
  border-radius: 10px;
  position: relative;
  z-index: 0;
  animation: spin 5s linear infinite;
}

/* 自定义属性,这样就能参与到动画中，运用到Houdini */
@property --direc {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
 to {
  --direc: 360deg;
 } 
}