body {
  background-image: linear-gradient(to right, #27374d 0%, #526d82 100%);
}

.main {
  margin: auto;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main .siderbar {
  --font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  counter-reset: num; /** 重置计数器为0 **/
  width: 300px;
  padding: 10px;
  gap: 10px;
  box-shadow: inset -5px -5px 10px rgba(red, green, blue, 0.3);
}
.main .content {
  flex: 1;
}

.link::before {
  counter-increment: num;
  content: counter(num) ". ";
}

.link {
  --linear: linear-gradient(to right, #ee6983 0%, #fff5e4 100%);
  text-align: center;
  text-decoration: none;
  position: relative;
  font-size: var(--font-size);
  background: var(--linear);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: background-size 1000ms;
}

.link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--linear) no-repeat right bottom;
  background-size: 0 4px;
  transition: background-size 1000ms;
}

.link:hover::after {
  background-position: left bottom;
  background-size: 100% 4px;
}
