body {
  background: radial-gradient(ellipse at bottom, #395b64, #2c3333);
  height: 100vh;
  padding: 20px;
}

.overlap {
  color: white;
  font-size: 200px;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
}

.overlap span {
  text-shadow: 10px 0 10px #000;
  letter-spacing: -20px;
}
/* 这种做法会让文字无法自动换行 */
.overlap.first-way {
  display: flex;
  transform-style: preserve-3d;
}

.overlap.first-way span {
  transform: perspective(500px) rotateY(-1deg);
}

.overlap.best-way span {
  position: relative;
  z-index: var(--i);
}
