body {
  background: rgb(19, 19, 19);
  min-height: 100vh;
}

.animate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fire {
  background: url(./fire.jpg) no-repeat;
  height: 214px;
  width: 72.45px;
  animation: fire 1s steps(11) infinite;
}

@keyframes fire {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -797px;
  }
}
