body {
  background: radial-gradient(ellipse at center, #fff, #eeeeee) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog {
  width: 30vmin;
  height: 30vmin;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
  margin-top: calc(50vh - 15vmin);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content input {
  margin-bottom: 20px;
}

#dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
