body {
  background: radial-gradient(ellipse at center, #e3f4f4 0%, #c4dfdf 100%)
    no-repeat center center fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

$btnColors: #b799ff, #dd58d6, #ffb84c, #8696fe, #ff0060;

@for $i from 1 through length($btnColors) {
  .btn:nth-child(#{$i}) {
    $bg: nth($btnColors, $i);
    background: $bg;
    &:hover {
      background: lighten($bg, 10%);
    }
    &:active {
      background: darken($bg, 10%);
    }

    &:disabled {
      background: lighten($bg, 20%);
    }
  }
}

.btn {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
}
